{% load static %}
<!DOCTYPE html>
<html lang="en">

<!-- /about 59:59-->

<head>

	<!-- Meta Tags -->
	<meta charset="UTF-8">

	<!-- Theme Page Title -->
	<title>Sapa Surgical Care Pvt. Ltd.</title>

	<!-- favicon -->
	<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
	<link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- responsive meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!--css link-->
	<link href="{% static 'css/menuzord/menuzord.css' %}" rel="stylesheet">
	<link href="{% static 'css/style.css' %}" rel="stylesheet">
	<link href="{% static 'css/reset-style.css' %}" rel="stylesheet">
	<link href="{% static 'css/responsive.css' %}" rel="stylesheet">
	<link href="{% static 'css/color/themecolor.css' %}" rel="stylesheet" id="colorswitcher">

</head>

<body>

	<!--wrapper start-->
	<div class="wrapper">

		<!-- Start Main Header -->
		<header class="mega-header">
			<div class="header-top">

				<div class="container">
					<div class="row clearfix">
						<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
							<a class="logo" href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}" alt="Logo" title="Medical"></a>
						</div>

						<div class="col-lg-7 col-md-7 col-sm-12 header-top-widget headerwidget-style2">
							<div class="header-widget">


								<div class="iconbox-widget">
									<div class="icon">
										<i class="flaticon-telephone-symbol-button"></i>
									</div>
									<div class="box-contenet">
										<h5 class="title"><a href="tel:+919927275691">India</a></h5>
										<p class="sub-title"><a href="tel:+919927275691">+91-9927275691 </a></p>
									</div>
								</div>

								<div class="iconbox-widget">
									<div class="box-contenet">
										<h5 class="title"><a href="tel:+19023380167">Canada</a></h5>
										<p class="sub-title"><a href="tel:+19023380167">+1 (902) 338-0167</a></p>
									</div>
								</div>
								<div id="google_translate_element"></div>

    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement(
                {pageLanguage: 'en'},
                'google_translate_element'
            );
        }
    </script>

    <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit">
    </script>
                        </div>
                    </div>
                </div>
            </div>

        </div>

			<!--Header Main-->
			<div class="header-main">
				<div class="container">
					<div class="row clearfix">
						<!--Main Menu-->
						<div class="mega-menu col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<nav id="menuzord" class="menuzord menuzord-responsive">
								<ul class="menuzord-menu">
									<li><a href="{% url 'index' %}">Home</a></li>
									<li class="active"><a href="{% url 'about' %}">About</a></li>
									<li><a href="{% url 'products' %}">Our Products</a></li>
									<li><a href="{% url 'enquiry' %}">Send Enquiry</a></li>
									<li><a href="{% url 'contact' %}">Contact Us</a></li>

								</ul>


							</nav>
						</div>
						<!--Main Menu End-->
					</div>
				</div>
			</div>
		</header>
		<!--End Main Header -->

		<!--Main Content start-->
		<div class="main-content">

			<!--Page Title Start-->
			<section class="page-title">
				<div class="container">
					<div class="row">
						<div class="col-md-12 page-title-content">
							<h2 class="title line-bottom line-center">About Us</h2>
						</div>
					</div>
				</div>
			</section>
			<!--Page Title End-->

			<!--Welcome Section Start-->
			<section class="ho_pt fo_pb">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="inner-title line-bottom do_mb">
								<h2 class="title">About <span>Us</span></h2>
							</div>

							<p class="co_mb text-justify">Established in the year 2021, we "Sapa Surgical Care Pvt.
								Ltd." are dealing in surgical products. <b>We are the sister concern business of Ajay
									Surgical.</b> We have gradually marked place amongst the top companies dealing in
								Medical Products. The high demand of these Medical Products has led us to the inception
								and we have been successfully catering to the requirements of the clients residing
								across the globe. The comprehensive range of Medical Products includes, Disposable
								Surgical Products, Face Mask, Surgeon Cap, Bouffant
								Cap, Surgeon Hood Cap (Monkey Cap) Non-Woven, Latex Examination Powdered Gloves,
								Latex Examination Powdered free Gloves, Latex Surgical Gloves, Nitrile Gloves, Non-Woven
								Shoe Cover etc. Our warehouse is categorized into various sections in order to store the
								products as per their category. Our warehousing team is well-experienced and trained in
								standard warehousing procedures to handle all these chemicals. We also take into
								consideration the valuable feedback of our clients in order to improve our product
								quality.<br><br></p>
								<strong
									style="font-size:20px; text-decoration: underline;">Certifications</strong><br><br>

								&rarr; ISO 9001<br>
								&rarr; ISO 13485-(MDQMS) medical device quality management system<br>
								&rarr; CE Mark Certification <br>
								<br><br>


								<strong style="font-size:20px; text-decoration: underline;">Quality
									Assurance</strong><br><br>

								Quality products being the motto of our organization, members incur relentless pursuits
								to constantly maintain and enhance the range. We are rated among top organizations which
								have boosted our spirits further to innovative and quality products. Quality control
								experts supervise every little step taken right from the initial stage of procurement up
								to its final delivery. We stay in compliance with the international standards to grab
								attention of our customers spanning all over the world. The knowledgeable pool of
								professionals maintains cordial relationship with our customers to stay in tandem with
								their exact requirements.<br><br>

								<strong style="font-size:20px; text-decoration: underline;">Client
									Satisfaction</strong><br><br>

								We are a client-centric organization thus all our endeavors are focused in achieving
								utmost satisfactions of our patrons. We are indulged in transparent and
								ethical business practices to ensure ever growing trust of our elite customers. Our
								effective communication system provides immediate redressal to any customer grievance or
								complains. We welcome suggestions made by our workers and client&#39;s as well to bring
								every possible innovation.<br><br>

								<strong style="font-size:20px; text-decoration: underline;">Vision and
									Mission</strong><br><br>

								To become a trusted supplier of quality medical surgical products with superior safety
								and protection reliability. Our Vision is to emerge as a trusted supplier and exporter
								of the offered product and exceed every requirement placed by our esteemed clients in
								an ethical manner.<br><br>

								<strong>And the Mission path we take shall be …</strong><br><br>

								To apply the healthcare industry best practices and technology to supply products of
								superior standards, employing a well trained and motivated workforce and collaborating
								with vendors who share our business philosophy, bearing in mind our focus on providing a
								safe workplace, preserving our environment and optimizing our financial returns to
								investors.<br><br>

								We shall apply the following core values and concepts in our business operation and
								transactions:<br><br>

								&rarr; Trust and integrity with our vendors and customers<br>
								&rarr; Apply cost effective technology to stay competitive<br>
								&rarr; Faith in people potential given the opportunity and respect to excel<br>
								&rarr; Success is the reward of hard work, patience and humility<br>
								&rarr; Goodwill is a producer of prosperity
								<br><br>



							</p>
						</div>

					</div>
					<div>
						<h5>
							<center> <strong>***PLEASE CONTACT US FOR OTHER PRODUCTS ENQUIRY***</strong></center>
						</h5>
					</div>
				</div>
			</section>
			<!--Welcome Section End-->


		</div>
		<!--Main Content end-->

		<!-- Footer Start-->
		<footer class="footer-section">

			<div class="footer-copyright">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12 text-center">
							<p class="copy-right">© Copyright 2021 - <a href="#" target="_blank">Sapa Surgical Care Pvt.
									Ltd. </a>| all right reserved </p>

						</div>
					</div>
				</div>
			</div>
		</footer>
		<!--Footer end-->

		<!-- Start Menu Switcher -->


		<!-- Side Menu-->


		<!--Scroll to top-->
		<div class="scroll-to-top"><span class="fa fa-arrow-up"></span>

		</div>
		<div id="mybutton">
			<button type="button" class="btn btn-info btn-lg feedback" data-toggle="modal" data-target="#myModal">Quick
				Enquiry</button>
		</div>
	</div>
	<!--wrapper end-->
	<!-- Modal -->
	<div class="modal " id="myModal" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Quick Enquiry</h4>
				</div>
				<div class="modal-body">
					<form method="post" action="submit.php">
						<div class="row clearfix">
							<div class="col-md-12">
								<div class="row">
									<div class="form-group col-md-6">
										<div class="form-group-inner">
											<div class="icon-box"><label for="your-name">Your Name</label></div>
											<div class="field-outer">
												<input type="text" name="name" id="name" required
													data-validation-required-message="Please enter your name.">
											</div>
										</div>
									</div>
									<div class="form-group col-md-6">
										<div class="form-group-inner">
											<div class="icon-box"><label for="your-email">Your Email</label></div>
											<div class="field-outer">
												<input type="email" name="email" id="email" required
													data-validation-required-message="Please enter your email address.">
											</div>
										</div>
									</div>
									<div class="form-group col-md-6">
										<div class="form-group-inner">
											<div class="icon-box"><label for="your-phone">Contact No.</label></div>
											<div class="field-outer">
												<input type="text" name="phone" id="phone" required
													data-validation-required-message="Please enter your phone number.">
											</div>
										</div>
									</div>

									<div class="form-group col-md-6">
										<div class="form-group-inner">
											<div class="icon-box"><label for="your-phone">Your Requirement</label></div>
											<textarea name="message" id="message" required
												data-validation-required-message="Please enter a message."></textarea>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-11 pull-right">
								<div class="row">
									<input name="submit" type="submit" value="SUBMIT">
								</div>
							</div>

						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>

		</div>
	</div>
	<!-- </div> -->
	<!--Jquery Script-->
	<script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/menuzord.js' %}"></script>
	<script src="{% static 'js/jPushMenu.js' %}"></script>
	<script src="{% static 'js/owl.js' %}"></script>
	<!-- validate -->
	<script src="{% static 'js/validate.js' %}"></script>
	<!-- jQuery ui js -->
	<script src="{% static 'js/jquery-ui-1.11.4/jquery-ui.js' %}"></script>
	<!-- appear js -->
	<script src="{% static 'js/jquery.appear.js' %}"></script>
	<!-- count to -->
	<script src="{% static 'js/jquery.countTo.js' %}"></script>
	<!-- fancybox -->
	<script src="{% static 'js/jquery.fancybox.pack.js' %}"></script>
	<!-- easing -->
	<script src="{% static 'js/jquery.easing.min.js' %}"></script>
	<script src="{% static 'js/wow.js' %}"></script>
	<script src="{% static 'js/customcollection.js' %}"></script>
	<script src="{% static 'js/custom.js' %}"></script>

</body>

<!-- /about 59:59-->

</html>